# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# images
/src/public/images/default

# remove config file (for GitHub upload)
/src/config

# ESLint
.eslintrc.json
